<h1 class='login'>log in</h1>

{{#if error}}
<h2 class="error">  Please log in  </h2>

    {{/if}}</h2>
<form class="" method="POST">
<input type="text" name="email" placeholder="Email Adress">
<input type="text" name="password"placeholder="Password">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="login">LOG IN</button>
</form>
