<h1 class='Login'>Log in</h1>
<br>

{{#if error}}
    <h2>The email address or password is incorrect. Please retry...</h2>
{{/if}}</h2>

<form class="" method="POST">
    <br>
    <br>
    <input type="text" name="email" placeholder="Email Adress">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">


    <button id="button" type="submit">LOG IN</button>
</form>
