<h1>Welcome</h1>
<p>my petition</p>

<form >
    <input type="text" name="First Name" value="First Name">
    <input type="text" name="Last Name" value="Last Name">
    <input type="hidden">
    <canvas id="canvas" width="300" height="100"></canvas>

</form>
