<h1>Please sign here </h1>


{{#if error}}
    <h2 class="error"> error </h2>

{{/if}}


<form method="POST">
    <!-- <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name"> -->
    <input class="canvas" name="signature" type="hidden">
    <br>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <br>

    <canvas id="canvas" width="300" height="100"></canvas>


    <button type="submit" id="button">Enter</button>

</form>
