<h1>Now please tell us just a little bit more about yourself.</h1>

<br>
{{#if error}}
<h2 class="error"> Please fill out this field! </h2>

    {{/if}}

<form class=""  method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<br>
<br>

<input type="text" name="age" value="" placeholder="Age">
<br>

<input type="text" name="city" value="" placeholder="City">
<br>

<input type="text" name="homepage" value="" placeholder="Homepage">


<button type="submit" id="sign">Register</button>
</form>
