<h1>Now please tell us just a little bit more about yourself.</h1>

{{#if error}}
<h2 class="error">  {{error}}  </h2>

    {{/if}}</h2>

<form class=""  method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<br>
<br>

<input type="text" name="age" value="" placeholder="Age">
<br>

<input type="text" name="city" value="" placeholder="City">
<br>

<input type="url" name="homepage" value="" placeholder="Homepage">


<button type="submit" id="sign">Sign this petition</button>
</form>
