<h1>Now please tell us just a little bit more about yourself.</h1>
<form class="" action="index.html" method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<input type="text" name="Age" value="" placeholder="Age">
<input type="text" name="City" value="" placeholder="City">
<input type="text" name="Homepage" value="" placeholder="Homepage">
<button type="button" name="button"> Continue</button>
</form>
