<h1 class="registration"> blabala</h1>
{{#if error}}
    <h2 class="error"> Please register </h2>

{{/if}}</h2>

<form method="POST">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="text" name="email" placeholder="Email Adress">
    <input type="password" name="password" placeholder="Password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="button">SIGN UP</button>
    <h5>If you are alredy a member please, <a href="/login">log in</a></h5>.
</form>
