<h1 class="signatures"> List Signers</h1>
{{#listNames}}
<li>{{firstname}} {{lastname}}</li>
{{/listNames}}

<form method="post">
       <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>
