<h1>Thank you for your signature!</h1>


<body>




<a class="h" href="/signatures">See all signers</a>
<br>
<a class="h" href="/update">Edit your profile</a>

<img src={{signature}} alt="">
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
</body>
