<h1>Thank you </h1>
<h2>#weilwirdieumweltlieben</h2>

<h3>Your signature</h3>


<a href="/signatures">See all signers</a>
<a href="/update">Edit your profile</a>

<img src={{signature}} alt="">
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
