body{

    background-image: url(architecture-berlin-europe-1255149.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

input {
    border-radius: 20px;
    margin: auto;
    display: block;
}

#canvas {
    border-style: dotted;
    margin-top: 150px;
    display: block;
    margin-left: 480px;
}

#button {
    margin-top: 50px;
    border-radius:12px 0 12px 0;
	background: #478bf9;
	border:none;
	color:yellow;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
    margin-left: 580px;
}
